node_modules
.env
_contracts

# Hardhat files
/cache
/artifacts

# misc
**/.DS_Store

# TypeChain files
/typechain
/typechain-types

# solidity-coverage files
/coverage
/coverage.json

# Hardhat Ignition default folder for deployments against a local node
ignition/deployments/chain-31337
